{% extends 'base1.html.twig' %}
{% block sidebar %}
    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">

            <li class="nav-item">
                <a class="nav-link " href="{{ path('app_user') }}">
                    <i class="bi bi-grid"></i>
                    <span>Calendrier</span>
                </a>
            </li><!-- End Dashboard Nav -->

            <li class="nav-item">

                <a class="nav-link collapsed" href="{{path('app_profile')  }}">
                    <i class="bi bi-person"></i>
                    <span>Profile</span>
                </a>
            </li><!-- End Profile Page Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" href="{{path('app_contact')  }}">
                    <i class="bi bi-envelope"></i>
                    <span>Contact</span>
                </a>
            </li><!-- End Contact Page Nav -->


            {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link collapsed" href="{{path('app_logout')  }}">
                        <i class="bi bi-box-arrow-in-right"></i>
                        <span>Déconnexion</span>
                    </a>
                </li><!-- End Login Page Nav -->
            {% endif %}
        </ul>
    </aside><!-- End Sidebar-->
{% endblock %}

{% block body %}
    <main id="main" class="main">

        <div class="pagetitle">
            <h1>Contact</h1>

        </div><!-- End Page Title -->

        <section class="section contact">

            <div class="row gy-4">

                <div class="col-xl-6">

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="info-box card">
                                <i class="bi bi-geo-alt"></i>
                                <h3>Addresse</h3>
                                <p>49 Rue des Entrepreneurs</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="info-box card">
                                <i class="bi bi-telephone"></i>
                                <h3>Appelez-nous</h3>
                                <p >71941535</p>
                            </div>
                        </div>
{#                        <div class="col-lg-6">#}
{#                            <div class="info-box card">#}
{#                                <i class="bi bi-envelope"></i>#}
{#                                <h3>Email Us</h3>#}
{#                                <p>info@example.com<br>contact@example.com</p>#}
{#                            </div>#}
{#                        </div>#}
                        <div class="col-lg-6">
                            <div class="info-box card">
                                <i class="bi bi-clock"></i>
                                <h3>Heures d'ouverture</h3>
                                <p>Lundi - Vendredi<br>08:00 - 16:30</p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-xl-6">
                    <div class="card p-4">
                        <form action="forms/contact.php" method="post" class="php-email-form">
                            <div class="row gy-4">

                                <div class="col-md-6">
                                    <input type="text" name="name" class="form-control" placeholder="Nom" required>
                                </div>

                                <div class="col-md-6 ">
                                    <input type="email" class="form-control" name="email" placeholder=" Email" required>
                                </div>

                                <div class="col-md-12">
                                    <input type="text" class="form-control" name="subject" placeholder="Sujet" required>
                                </div>

                                <div class="col-md-12">
                                    <textarea class="form-control" name="message" rows="6" placeholder="Message" required></textarea>
                                </div>

                                <div class="col-md-12 text-center">
                                    <div class="loading">Loading</div>
                                    <div class="error-message"></div>
                                    <div class="sent-message">Votre message a été envoyé. Merci!</div>

                                    <button type="submit">Envoyer Le Message</button>
                                </div>

                            </div>
                        </form>
                    </div>

                </div>

            </div>

        </section>

    </main><!-- End #main -->
{% endblock %}
{% block footer %}
{% endblock %}


